.departmentSection{
    width: 60%;
    /* height: 90vh; */
    /* background-color: ; */
    background-image: linear-gradient(#FF9366, #fc8755);
    display: grid;
    margin-left: 20%;

}
.departmentItem p {
    color: rgb(241, 241, 241);
}

.departmentContainer{
    display: flex;
    /* grid-template-columns: repeat(2,41vh); */
    /* justify-content: center; */
    /* row-gap: 40px; */
    /* margin-top: 3.5%; */
    justify-content: center;
    margin-left: 5%;
    margin-bottom: 10%;
    /* color: gainsboro; */
}
.itemContainer{
    display: grid;
grid-template-columns: repeat(3,39vh);
}
.departmentItem{
/* background-color: aqua; */
padding: 20px;
width: 378px;
height: 228px;
/* margin-bottom: 20px; */
/* border-bottom: 1px solid rgb(219, 216, 216);
border-left: 1px solid rgb(209, 207, 207); */
}

/* ---------------------
   media query
----------------- */
/* for mobile */

@media (max-width:601px) {
    .departmentSection{
        width: 100%;
        margin-left: 0%;
    }
    .sectionTitle{
        padding-left: 0px !important;
        margin-left: 10px !important;
        text-align: start !important;
    }
    

    .itemContainer{
grid-template-columns: repeat(1,1fr) !important;
    }
}